// 图标资源
IDI_ICON1 ICON "jh_online.ico"

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "小黑aha"
            VALUE "FileDescription", "酷吧模拟器 - CBE游戏模拟器"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "main"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "main.exe"
            VALUE "ProductName", "酷吧模拟器"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END